.grid-container{
    display: grid;
    grid-template-rows: auto 50px;
    grid-template-columns: 100px auto;
    grid-template-areas:
        /*"header header"*/
        "sidebar main"
        "footer footer";
    height: 100vh;
    margin-top: 50px;
}

.header{
    grid-area: header;
    background-color: blue;
}

.footer{
    grid-area: footer;
    background-color: aquamarine;
    text-align: center;
}

.sidebar{
    grid-area: sidebar;
    background-color: darkgray;
}

.main{
    grid-area: main;
    background-color:aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    background-color: rgb(178, 245, 64);
}
/*.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/
