body {
    font-family: 'Times New Roman', Times, serif;
}
table {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
}
title {
    width: 500px;
    font-size: 200px;
    color: rgb(212, 255, 0);
}
h1 {
    display: block;
    width: 220px;
    height: 50px;
    border: 10px dotted yellow;   
}
td {
    font-weight: bold;
}
legend {
    font-size: 30px;
    display: block;
    width: 100px;
    height: 70px;
    border: 10px double black;
    border-radius: 30px; 
    width: 100%;
    max-width: 1000px;
}
form  {
    width: 100%;
    max-width: 500px;
}