/* jQuery UI Accordion */
#right-accordion .ui-accordion-header {
    background-color: #1e7e34; 
    color: white;
    font-weight: bold;
    border: 1px solid #155724;
  }
  
  /*  jQuery UI Accordion */
  #right-accordion .ui-accordion-content {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
  }
  